<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://www.google.com/recaptcha/api.js?render=6Lf_0_kUAAAAALF-1DTJBqDZy6p65zRWpsEe9T5k"></script> 
    <link rel="stylesheet" href="../style.css"> 
</head>
<body>
    <h1>Bienvenido {{title}}</h1>
       
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>